.App {
  text-align: center;
  color:rgb(29, 52, 70);
  /* width:1000px; */
  /* padding-left: 20%;
 padding-right: 20%; */
 background-image:linear-gradient(to top,
 rgb(0, 80, 92),
 rgb(108, 190, 193),
 rgb(255, 255, 255));
   background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}


.form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: rgb(230, 232, 255);
  width:100%;
  margin: 20px
}