.App
.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    color: rgb(191, 187, 187);
}
.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;

    color:white !important;
}
.message_user{

    margin-left:auto;
    color:white;
    text-align: left !important;
}
.message_userCard{    

    background-color: rgba(14, 48, 48, 0.934)!important
}
.message_guestCard{

    background-color:rgb(35, 37, 38) !important
}
.send{
 

}